@font-face {
  font-family: "star";
  src: url("/fonts/star.ttf") format("ttf");
      
}

@font-face {
	font-family: "Sig";
	src: url("/fonts/Signature.otf");
	}

  @font-face {
    font-family: "cadosa";
    src: url("/fonts/Cadosa\ Script.ttf");
    }




/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  
  color: #5a5a5a;
  
}
#txt{
  text-align: justify;
  font-size: 18px;
  color: rgb(60, 58, 58);
  margin-bottom: 50px;
}
h5{
text-align: center;
padding-top: 20px;
font-weight: bolder ;
}
#txt-contato{
  text-align: start;
  color: white;
  font-size: 12px;
  
}
#iten_services{
  
  margin: 20px;
  text-align: center;
  padding: 20px;
}
footer{
  background-color: #1c1b1b;
   color: wheat;
   padding-top: 20px;
}
h4{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 100px;
  border: solid 1px white;
  text-shadow: black 1px 2px 10px ;
  padding: 10px;
  

}
li{
  color: black;
}


#navbar{
  margin-left: auto;
  margin-right: auto;
  background-color: white;


  
 
}

#a{
  color: #080808;
  font-size: 14px;
 
}
#nav_icon{
  width: 35px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	border-radius: 4px;
}
.navbar{
  
  width: 100%;
  background-color: white !important;
  height: 20px;
}


#diferenciais{
  background-color: rgba(83, 83, 203, 0.372);
  padding: 40px;
  width: 100% !important;
}
#slide{
  height: 600px;
}
#valores{
 background-color: #e2f68098;
  padding-top: 100px;
  padding: 20px;
}
.card-body{
 
  margin-left: auto;
  margin-right: auto;

}
.card{

text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  padding-top: 5%;
 
  
 
  width: 200px;
  height: 200px;

  margin-top: 20px;
  margin-bottom: 20px;

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
#logo {

  

  font-family: "cadosa", Cursive;
	color: #ff0000;
  font-size: 30px;


 


 
}
#itens_valores{

  margin-top: 50px;
  margin: 20px;
 
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
#img_icon{
  width: 100px;
}
#parceiros{
  background-color: #ff5fd287;
  padding-bottom: 50px;
  padding: 20px;
  
}
#parceiros_img{
width: 150px;
height: 150px;






}
#btn-whats{
position: fixed;
z-index: 20;
margin-top: 320px;
margin-left: 55%;
width: 200px;
}
#galeria{
  text-align: center;
  background-color: white;
 margin-left: 10%;
 margin-right: 10%;


}
#contato{

  display: inline-block;
  color: white;
  width: 280px;
  margin: 20px;
  margin-bottom: 0px;
}

.contato{
  text-align: center;
  background-color:#1c1b1b;
}



/*anime scroll---------anime scroll---------*/

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}

.box {

	border-radius: 5px;
	margin: 0 auto 20px auto;
}

.box p {
	padding-top: 100px;
	font-size: 24px;
	color: white;

}


section {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}





@keyframes mouse {
	from {
		top: 0px;
	}
  to {
		top: 6px;
	}
}
/*anime scroll---------anime scroll---------*/

h1 {
	font-size: 14px;
	font-family: monaco;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #8844EE;
	margin-bottom: 40px;
}





#txt-slide{
  font-size: 22px;
  color: #df2929;
  background-color: rgba(245, 222, 179, 0.824);
  width: 250px;
  padding: 5px;
 margin-left: auto;
 margin-right: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 10px;
  
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {

 
  letter-spacing: -1px;
}
#servicos{
  background-color: rgba(237, 128, 128, 0.571);
  padding: 20px;
}
#sobre-nos{
  background-color: rgba(125, 220, 125, 0.523);
  text-align: justify;
  padding: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  #a{
    color: #080808;
    margin-left: 40px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .navbar{
    background-color: white;
  }
  .navbar-inverse {
    background-color: #222;
    border-color: #080808;
  }
 

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  #btn-whats{
    position: fixed;
    z-index: 20;
    margin-top: 320px;
    margin-left: 80%;
    width: 200px;
    }

  #logo{
   
    margin-bottom: 0px;
    font-size: 30px;
   
}
}
